html {
    font-family: 'AdobeGaramondW01-Regula', georgia, serif;
    font-size: 18px;
    margin-bottom: 200px;
    background-color: antiquewhite;
}

main {
    width: 80%;
    margin: 2em auto;
    --grid-column-count: 2;
    display: grid;

}


footer {
    text-align: center;
    margin: 3em 0 3em 0;
    clear: both;
}

h1 {
    font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
    font-size: 3rem;
    color: #64664A;
    margin: 0 0 1em;
    line-height: 1.1em;
    -webkit-column-span: all;
    column-span: all;
}

.pictures {
    position: relative;
    top: 0;
    left: 0;
  }

.pictures img.attachment-post-thumbnail {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.pictures img.attachment-category-bigger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    
}

.pictures:hover img.attachment-category-bigger {
    display: inline;
    visibility: visible;
    opacity: 1;
 
}

h2 {
    font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
    font-size: 1.5rem;
    color: #64664A;
    font-weight: 400;
}

p {
    line-height: 1.5em;
    display: block;
}



section {
    -webkit-column-width: 300px;
    column-width: 300px;
}

section div {
    margin: 0 10px 20px;
    padding-bottom: 1rem;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

section h2,
section p {
    margin: 0 1rem;
    margin-right: 1rem;
}